<h1>User Info.</h1>
<div class='row'>
  <div class='col-xs-4'>
    <div class="panel panel-default">
      <div class="panel-heading">
        NAME: <%= @user.name %>
      </div>
      <div class="panel-body">
        EMAIL: <%= @user.email %>
      </div>
    </div>
  </div>
  <div class='col-xs-8'>
    <ul class="nav nav-tabs">
    	<li role="presentation" class="<%= 'active' if current_page?(user_path(@user.id)) %>"><%= link_to user_path(@user.id) do %>My Posts<span class="badge"><%= @count_posts %></span><% end %></li>
    	<li role="presentation" class="<%= 'active' if current_page?(likings_user_path(@user.id)) %>"><%= link_to likings_user_path(@user.id) do %>My Favs<span class="badge"><%= @count_favs %></span><% end %></li>
    </ul>

    <%= render 'posts/posts', posts: @posts %>

  </div>
</div>
