<ul class="media-list">
  <% posts.each do |post| %>
	<li class="media">
		<h4 class="media-left" style="color: blue;">
      <% if post.user.id == current_user.id %>
        <%= link_to 'Edit',edit_post_path(post.id),class:'btn btn-info btn-xs' %>
        <%= link_to 'Dele',post_path(post.id),method: :delete,data: {confirm: 'Are you sure ?'},class:'btn btn-danger btn-xs' %>
      <% else %>
        <%= post.user.name %>:
        <% if current_user.favorites.pluck(:post_id).include?(post.id) %>
          <%= link_to 'お気に入りを解除',favorite_path(id: post.id),method: :delete,class:'btn btn-danger btn-xs' %>
        <% else %>
          <%= link_to 'お気に入りを登録',favorites_path(post_id: post.id),method: :post,class:'btn btn-success btn-xs' %>
        <% end %>
      <% end %>
		</h4>
		<div class="media-body">
			<h4 class="media-heading"><%= post.title %></h4>
			<%= post.content %>
		</div>
	</li>
  <% end %>
</ul>
